/*temporary adjustments*/
body {
	background-color: LightGrey;
}
div {
	border: 1px solid Chocolate;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*Body*/

body {
	

}

/*Navigation Section*/

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {

	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	height: 70px;
	}
.top-navigation .links {
	float: right;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 16.64px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;

	}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/* Introduction Selection*/

.content {
	color: white;
	text-align: center;
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

/***** Background Image *****/

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	display: block;

}