/*temporary adjustments*/
body {
	background-color: LightGrey;
}
div {
	border: 1px solid Chocolate;
}
/*Navigation Section*/
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {

	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	height: 70px;
	}

.links {
	float: right;
}

.links li {
	display: inline-block;
}