/*temporary adjustments*/
body {
	background-color: LightGrey;
}
div {
	border: 1px solid Chocolate;
}
/*Navigation Section*/
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	margin-top: 1em;
	margin-bottom: 1em;
	
}